@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


body {
  font-family: 'Roboto', sans-serif;
}

@layer components {

  .label {
    @apply block text-sm font-semibold text-stone-500
  }
  .input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm 
          focus:outline-none focus:ring-2 focus:ring-red-500 focus:border-red-500
          transition-all duration-300 placeholder-gray-400
  }

  .button {
    @apply text-sm bg-red-500  hover:bg-stone-500 hover:text-orange-400
             text-white  font-bold rounded px-4 py-2 transition-colors duration-300
             active:scale-95 active:shadow-inner shadow-lg disabled:cursor-not-allowed 
             disabled:bg-gray-100 cursor-pointer
  }

}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(red 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
